/DL/Task/MNIST/plots/
/DL/Task/MNIST/cost/
/DL/Task/MNIST/MLP/plots/
/DL/Convolutional Neural Networks/WEEK2/W2A1/resnet50.h5
/DL/Convolutional Neural Networks/WEEK2/W2A1/models/
/Pytorch/Quikstart/data/
/DL/Convolutional Neural Networks/WEEK3/W3A1/nb_images/
